{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["chai-friendly", "prettier"],
  "rules": {
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
